@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.class-form {
  width: 20%;
  margin: auto;
  padding-bottom: 5px;
}

.rounded-circle {
  border-radius: 50%;
}

.logo {
  width: 20px;
}

.enter-name {
  position: relative;
  width: 10%;
  right: 29%;
  top: 6%;
}

.results-table {
  position: relative;
  margin: auto;
  width: 42%;
  bottom: 450px;
}